<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.dao.MoviesInfoMapper">
  <resultMap id="BaseResultMap" type="com.cloud.entity.MoviesInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="releaseDate" jdbcType="DATE" property="releasedate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, `name`, releaseDate
  </sql>

  <insert id="insert" parameterType="com.cloud.entity.MoviesInfo">
    insert into movies (id, name, releaseDate
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{releasedate,jdbcType=DATE}
      )
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.cloud.entity.MoviesInfo">
    update movies
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="releasedate != null">
        releaseDate = #{releasedate,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>



  <select id="list" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from movies
  </select>



</mapper>